.navbar{
    opacity:0;
}

.navbar:hover{
    opacity:1 ;
}
.navbar-color{
    color:rgb(15, 71, 23);

}



    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    
    .card-img-top {
        height: 200px; /* İstediğiniz yükseklik */
        object-fit: cover; /* Resmi kart içine sığacak şekilde keser */
    }
    