
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    flex-shrink: 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-text {
    margin-top: auto;
}

.navbar {
    background-color: #ffffff !important; 
}

.bg-skyblue {
    background-color: #616466 !important;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fefefe;
    color: #ffffff;
    margin: 0;
    padding: 0;
}
.logo {
    font-size: 2em;
    font-weight: bold;
}
.book-item {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 50px;/*sağ kısım*/
    margin-left: 50px;/*sol kısım*/
}
.book-item img {
    width: 100%;/*genişlik*/
    height: 400px;/*yükseklik*/
    object-fit: cover;
    border-radius: 5px;
}
.book-item p {
    text-align: center;
    margin-top: 10px;
}